.testControls {
   margin-bottom: 12px;
   background-color: #fafafa;
   padding: 12px;
   border-radius: 6px;
   max-width: 600px;
   position: relative;

   button {
      border: none;
      margin-left: 3px;
      margin-bottom: 3px;
      padding: 12px;
      border-radius: 6px;
      background-color: var(--color-1);
      color: white;
   }

   button.active {
      background-color: var(--color-2);
   }

   h1 {
      font-size: 0.8rem;
      font-weight: 400;
      // color: black;
   }

   h2 {
      font-size: 1.4rem;
      margin-bottom: 12px;
      font-weight: 400;
      margin-top: 3px;
   }
}
