// special class for conf_c
.questionsList.conf_c {
   .question {
      margin: auto;
      margin-bottom: 12px;
      border: 0;
      background-color: rgb(255, 255, 255);
      padding: 18px;
      border-radius: 6px;
   }
}

.questionsList {
   //  border: 1px solid red;
   max-width: 300px;
   margin: auto;
}

.question {
   max-width: 300px;
   margin-bottom: 12px;
   background-color: #ffffff;
   padding: 18px;
   border-radius: 6px;

   .title {
      margin-bottom: 12px;
      display: block;
      font-weight: 600;
   }

   // only in conf_a
   .description {
      background-color: lightblue;
      padding: 6px;
      border-radius: 6px;
      font-size: 1rem;
   }
}

.answer {
   display: block;
   margin-bottom: 6px;

   span {
      display: inline-block;
      width: 120px;
      padding-right: 12px;
   }
}

.answer:has(input[type='text']) {
   margin-top: 12px;

   span {
      margin-bottom: 3px;
   }

   input {
      width: 80%;
   }
}
