.main {
   // NOTE - ColorContext overrides CSS background-color for .main
   padding: 6px;
}

.main.conf_c {
   background-color: var(--color-2) !important;
   > h1,
   > h2 {
      color: white;
   }
}

.logo {
   //  border: 1px solid red;
   height: 18px;
   padding: 12px;
   width: 120px;
   position: fixed;
   bottom: 0;
   right: 0;
   background-image: url('/logo.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 75%;
   z-index: 1;

   @media (max-width: 800px) {
      height: 12px;
      padding: 6px;
      width: 90px;
   }
}
