.main {
   // NOTE - ColorContext overrides CSS background-color for .main
   padding: 6px;
}

.main.conf_c {
   background-color: rgb(35, 43, 51) !important;

   > h1,
   > h2 {
      color: white;
   }
}

.logo {
   //  border: 1px solid red;
   height: 24px;
   width: 200px;
   position: absolute;
   top: 12px;
   right: 18px;
   background-image: url('/logo.svg');
   background-repeat: no-repeat;
   background-position: center right;

   @media (max-width: 500px) {
      background-size: 60%;
   }
}
